<div>
  {{#if id }}
  <div class="navbar navbar-fixed-top" style="position: absolute;" id="{{ id }}">
  {{else}}
  <div class="navbar navbar-fixed-top" style="position: absolute;">
  {{/if}}
    <div class="navbar-inner">
      <div class="container" style="width: auto; padding: 0 20px;">
        <a class="brand" href="#">{{ title }}</a>
        <ul class="nav">
        </ul>
      </div>
    </div>
  </div>
</div>
